# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtualenv
.venv/
venv/
ENV/

# Logs
logs/
*.log

# Cache e dados baixados
data/http_cache/
data/raw/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Cache HTTP
data/http_cache.sqlite

# Templates antigos (não usados)
templates/
